<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
     <!-- trying without it -->
    <!-- 
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    -->
    <!-- Navbars -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--  -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

        <title>Creator</title>
    </head>
    
    <body style="background-image: url('https://images.unsplash.com/photo-1543719621-92ebcae62483?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=884&q=80');">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">

                <div class="navbar-nav">
                  <a
                    class="nav-item nav-link" 
                    id="creator" 
                    href="/creator" 
                  >
                    <font size="+1" style="font-family:verdana;">Creator</font></a>
      
      
                  <a  
                    class="nav-item nav-link" 
                    id="information" 
                    href="/information"
                  >
                    <font size="+1" style="font-family:verdana;">Information</font></a> 
      
      
                  <a class="nav-item nav-link"
                  id="learn"
                  href="/learn"
                  >
                    <font size="+1" style="font-family:verdana;">Learn</font></a>
      
                </div>
      
              <div class="center" style="position:relative; left:75%;">
                <a href="/home">
                <button class="btn" style="color:white"><i class="fa fa-home"></i></button> 
                </a>
              </div>
          </nav>
      
        <!-- Add smth -->
        <div class="text-center" style="font-family:fantasy;">
            <font size="+2">
            <h1 style="color:white; position: relative; top:40px;">Creator</h1>
        
          <div style="color:white; position: relative; top:50px; font-family:cursive;">
            <p>Hello I am Than Ngoc Quang, creator of this website.</p>
            <p>I'm currently studying at Vantaa Vocational Collage Varia: Myyrmäki office.</p>
            <p></p>
            <p></p>
            </font>


          </div>
        </div> 
    </body>
</html>