<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Navbars -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Do not run any file of html because it is only working in app.py file -->
    <title>Website</title>
</head>

<body style="background-color: powderblue;">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

          <div class="navbar-nav">
            <a
              class="nav-item nav-link" 
              id="creator" 
              href="/creator" 
            >
              <font size="+1" style="font-family:verdana;">Creator</font></a>


            <a  
              class="nav-item nav-link" 
              id="information" 
              href="/information"
            >
              <font size="+1" style="font-family:verdana;">Information</font></a> 


            <a class="nav-item nav-link"
            id="learn"
            href="/learn"
            >
              <font size="+1" style="font-family:verdana;">Learn</font></a>

          </div>

        <div class="center" style="position:relative; left:75%;">
          <a href="/home">
          <button class="btn" style="color:white"><i class="fa fa-home"></i></button> 
          </a>
        </div>

    </nav>


    <!-- Add smth -->

    <img src="https://cdn.pixabay.com/photo/2015/12/28/02/58/home-1110868_960_720.png" 
    width="100" 
    height="100"/>
  
    <div class="text-center">

      <h1 font-size="50px;" style="font-family:cursive"><font size="+4">Home Page</font></h1>

      <br><br>

    <!-- Link 1 -->
      <font size="+1">
      <section style="background-image: url('https://media.istockphoto.com/photos/satellite-orbiting-the-earth-picture-id1339097795?k=20&m=1339097795&s=612x612&w=0&h=f1dFCTptp0COilEUd57GctbS4EDzKOsqlB3Yv_rrsoE='); 
      width:20%; border-radius: 40px; position:relative; left:20px;">
      <p class="text-center" style="font-family:cursive; color:white;">Would you like to visit "Studenta"?</p>
      <a href="https://varia-plus.solenovo.fi/cas/login?service=https%3A%2F%2Fvaria-plus.solenovo.fi%2Fstudentgo%2Fapp%2F">
      <button 
        class="btn" 
        style="color:black; background-color:rgb(86, 111, 250); position:relative; bottom:10px;">
        <i class="fa fa-home" style="font-size:30px;"></i>
      </button> 
      </a>
      </section>

    <!-- Link 2 -->
      <section style="background-color:black; 
      width:20%; border-radius: 40px; position:relative; top:20px; left:20px;">
      <p class="text-center" style="font-family:cursive; color:white;">Would you like to visit "Itslearning Varia"?</p>
      <a href="https://varia.itslearning.com/">
      <button
        class="btn" 
        style="color:black; background-color:orange; position:relative; bottom:10px;">
        <i class="fa fa-calendar" style="color:white; font-size:30px;"></i>
      </button>
      </a>
      </section>

    <!-- Link 3 -->
      <section style="background-image: url('https://media.istockphoto.com/photos/play-icon-youtube-picture-id1344290509?k=20&m=1344290509&s=612x612&w=0&h=dnRyUfeGDuCobNc-dUajKjYyzhvfZzee6aEKAb_fMEc='); 
      width:20%; border-radius: 40px; position:relative; bottom:250px; margin-left: 1050px;">
      <p class="text-center" style="font-family:cursive; color:white;">Would you like to visit "Youtube"?</p>
      <a href="https://www.youtube.com/">
      <button
        class="btn" 
        style="color:black; background-color:red; position:relative; bottom:10px;">
        <i class="fa fa-youtube" style="color:white; font-size:30px;"></i>
      </button>
      </a>
      </section>

    <!-- Link 4 -->
      <section style="background-image: url('https://images.unsplash.com/photo-1611162618071-b39a2ec055fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80'); 
      width:20%; border-radius: 40px; position:relative; bottom:230px; margin-left: 1050px;">
      <p class="text-center" style="font-family:cursive; color:white;">Would you like to visit "Facebook"?</p>
      <a href="https://www.facebook.com/">
      <button
        class="btn" 
        style="color:black; background-color:#3B5998; position:relative; bottom:10px;">
        <i class="fa fa-facebook" style="color:white; font-size:30px;"></i>
      </button>
      </a>
      </section>
      </font>
      
      <br><br>
      
      </form>
      </div>
    </nav>
  </body>
</html>  