<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">

    <!-- Navbars -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--  -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

        <title>Information</title>
    </head>

    <body style="background-image: url('https://images.unsplash.com/photo-1516339901601-2e1b62dc0c45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=671&q=80');">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">

            <div class="navbar-nav">
              <a
                class="nav-item nav-link" 
                id="creator" 
                href="/creator" 
              >
                <font size="+1" style="font-family:verdana;">Creator</font></a>
  
  
              <a  
                class="nav-item nav-link" 
                id="information" 
                href="/information"
              >
                <font size="+1" style="font-family:verdana;">Information</font></a> 
  
  
              <a class="nav-item nav-link"
              id="learn"
              href="/learn"
              >
                <font size="+1" style="font-family:verdana;">Learn</font></a>
  
            </div>
  
          <div class="center" style="position:relative; left:75%;">
            <a href="/home">
            <button class="btn" style="color:white"><i class="fa fa-home"></i></button> 
            </a>
          </div>
      </nav>
        
      <!-- Add smth -->
      <div class="text-center">
        <font size="+2">
        <h1 style="color:white; position:relative; top:40px; font-family:fantasy;">Information</h1>
        
        <div style="color:white; position:relative; top:50px; font-family:fantasy;">
          <p style="font-family:cursive">So here, I'm gonna tell you about this website. (QNA)</p>
          
          <br><br>
          
          <div class="text-left" style="position:relative; bottom:50px;">  
            <section style="background-color:rgb(34, 142, 214); 
            width:25%; border-radius:40px; position:relative; left:20px;">
            <p class="text-center">What language did you use?</p>        
            <p class="text-center" style="font-family:cursive; position:relative; bottom:20px;">
            <font size="+1">Python and HTML</font></p>
            </section>
            
          <br><br>
            
          <div style="position:relative; bottom:50px;">
          <section style="background-color:rgb(34, 142, 214); 
          width:25%; border-radius:40px; position:relative; left:20px;">
           <p class="text-center">When did you start to make this website?</p>
           
           <p class="text-center" style="font-family:cursive; position:relative; bottom:20px;">
            <font size="+1">
            Unfortunately, I do not remember the exact date,
            but I do believe between in March or April 2022.</font></p>

          </div>         
          </section>
         </div>

         <section style="background-color:rgb(34, 142, 214); 
         width:30%; border-radius:40px; position:relative; bottom:440px; margin-left:920px;">
         <p>What app do you use for programming?</p>
         <p style="font-family:cursive; position:relative; bottom:20px;"><font size="+1">
            Visual Studio Code.</font></p>
        </section>   

        <section style="background-color:rgb(34, 142, 214); 
        width:30%; border-radius:40px; position:relative; bottom:420px; margin-left:920px;">
        <p>It is difficult to code this website?</p>
        <p style="font-family:cursive; position:relative; bottom:20px;"><font size="+1">
            Well yes, at the beginning. 
            After I have learned a lot about how to use tags in HTML, 
            so now it feels like coding is now easier than before which is creating a website is now easier.</font></p>
       </section>   

        </div>
      </div>
        </font>


      
    </body>
</html>
